{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "usage",
            "corejs": 3
        }],
        "@babel/react",
        ["@babel/typescript", {
            "allowNamespaces": true
        }]
    ],
    "plugins": [
        ["@babel/proposal-decorators", {
            "legacy": true
        }],
        ["@babel/proposal-class-properties", {
            "loose" : false
        }],
        "@babel/proposal-object-rest-spread"
    ]
}