{
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "extends": [
        "aesy",
        "aesy/react",
        "aesy/typescript"
    ],
    "env": {
        "jest": true
    },
    "rules": {
        "import/order": [
            "error", {
                "pathGroups": [
                    {
                        "pattern": "@/**",
                        "group": "external",
                        "position": "after"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["builtin"],
                "alphabetize": {
                    "order": "desc"
                }
            }
        ],
        "import/no-unresolved": "off",
        "import/no-default-export": "error"
    }
}