@import '@/common/colors.scss';
@import '@/common/typography.scss';
@import '@/common/content.scss';
@import '@/common/breakpoints.scss';
@import '@/common/css-functions.scss';

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-image {
        background-color: #d8d8d8;
        position: relative;
        height: 400px;
        width: 100%;
        background-size: cover;
    }

    .card-content {
        flex-grow: 1;
        padding: 30px 80px;
        background-color: white;

        h1 {
            font-weight: bold;
            font-size: 28px;
            margin: 0;
        }

        p,
        h1 {
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .editable {
            transition: color 0.1s ease-out;
            cursor: pointer;
            text-align: left;
            position: relative;

            .edit {
                position: absolute;
                right: -40px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                color: $yum_orange;
            }
        }

        .rating {
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 15px 0;
            padding: 0;

            li {
                margin: 0;

                &::before {
                    display: none;
                }
            }

            svg {
                fill: $yum_yellow;
            }
        }
    }

    @media screen and (max-width: $breakpoint_tablet) {
        .card-content {
            padding: 30px 50px;
        }

        .editable {
            .edit {
                right: -25px;
            }
        }
    }
}
