@import 'common/colors';
@import 'common/typography';
@import 'common/content';
@import 'common/breakpoints';
@import 'common/css-functions';

.directions {
    list-style: none;
    margin: 0;
    padding: 0;

    .direction {
        position: relative;

        &::before {
            content: attr(data-step);
            font-family: "Playfair Display", serif;
            letter-spacing: 2px;
            transform: rotateZ(-90deg) translate(25%, -200%);
            white-space: nowrap;
            position: absolute;
            left: -40px;
            top: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: calc(100% + 10px);
            background-color: $yum_orange;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
        }

        + .direction {
            margin-top: 50px;
        }
    }

    @media screen and (max-width: $breakpoint_tablet) {
        .direction {
            &::before {
                left: 0;
                top: -30px;
                border-bottom: 1px solid $yum_orange;
                transform: none;
            }

            &::after {
                display: none;
            }

            + .direction {
                margin-top: 70px;
            }
        }
    }
}
