@import 'common/colors';
@import 'common/typography';
@import 'common/content';
@import 'common/breakpoints';
@import 'common/css-functions';

.ingredients {
    list-style: none;
    margin: 0;
    padding: 0;

    .ingredient {
        position: relative;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 0 20px;
        align-items: center;
        word-break: break-all;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            left: -10px;
            background-color: $yum_orange;
        }

        + .ingredient {
            margin-top: 20px;
        }
    }
}
