@import '@/common/typography';
@import '@/common/content';
@import '@/common/breakpoints';
@import '@/common/css-functions';
@import '@/common/frame';

.recipe-view-tablet {
    @include content-standard;

    position: relative;

    .card {
        margin: 0 -15px;

        &::after {
            top: 5px;
            left: 0;
            border: none;
            border-bottom: 2px solid var(--color-hairline);
        }
    }

    .stats {
        border: 2px solid var(--color-hairline);
        padding: 20px 0;
        margin: 3px -15px;
        border-left: none;
        border-right: none;
    }

    .navigation {
        margin: 30px 0;
    }

    .ingredients {
        @include offset-frame(var(--frame-offset-md), var(--color-accent));

        background-color: var(--color-surface);
        padding: 20px 20px 20px 30px;
        border: 1px solid var(--color-hairline);
    }

    .directions {
        @include offset-frame(var(--frame-offset-md), var(--color-accent));

        padding: 50px 20px 20px;
        background-color: var(--color-surface);
        border: 1px solid var(--color-hairline);
    }
}
