@import '@/common/typography';
@import '@/common/content';
@import '@/common/breakpoints';
@import '@/common/css-functions';
@import '@/common/frame';

.recipe-view-desktop {
    @include content-standard;

    display: grid;
    grid-template-areas:
        ' top     top      top '
        ' aside directions directions';
    grid-template-columns: 40% 1fr;
    gap: 50px 30px;

    .directions,
    .ingredients,
    .images {
        align-self: flex-start;
    }

    .directions,
    .ingredients {
        @include offset-frame(var(--frame-offset-md), var(--color-accent));

        background-color: var(--color-surface);
        border: 1px solid var(--color-hairline);
        padding: 50px 30px;

        h2 {
            margin-bottom: 40px;
            font-size: 26px;
            text-align: center;
        }
    }

    .card,
    .stats {
        @include offset-frame(var(--frame-offset-md), var(--color-accent));
    }

    .directions {
        grid-area: directions;
    }

    .aside {
        grid-area: aside;

        .images {
            margin-top: 40px;
        }
    }

    .top {
        grid-area: top;
        display: grid;
        grid-template-columns: 1fr auto;

        .stats {
            margin-left: 40px;
            padding: 0 25px;
            background-color: var(--color-surface);
        }
    }
}
