@keyframes fadeSlideIn {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.collection-list-item {
    animation: fadeSlideIn 0.5s forwards;
}
