@import '@/common/colors.scss';
@import '@/common/typography.scss';
@import '@/common/content.scss';

.collection-list-item-placeholder {
    height: 100%;
    width: 100%;
    background: white;

    .imagesPlaceholder {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        background: linear-gradient(270deg, #b9b9b9, lighten(#b9b9b9, 10%));
        background-size: 400% 400%;
        animation: backgroundAnimation 1.5s ease infinite;

        .imagePlaceholder {
            position: absolute;
            width: 50%;
            height: 50%;
            margin: 0;
        }
    }

    .textPlaceholder {
        height: 26px;
        margin: 20px 40px;
        background: linear-gradient(270deg, #b9b9b9, lighten(#b9b9b9, 10%));
        background-size: 400% 400%;
        animation: backgroundAnimation 1.5s ease infinite;
    }
}

@keyframes backgroundAnimation {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}
