@import '@/common/typography';
@import '@/common/content';
@import '@/common/breakpoints';
@import '@/common/paddings';

.profile {
    background-color: var(--color-bg);
    position: relative;
    z-index: 1;
    padding: 0 $padding_page;
    flex-grow: 1;

    .view {
        padding: var(--space-12) 0 170px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 530px;
        width: 100%;
        background: linear-gradient(var(--color-profile-tint), var(--color-surface-2));
        z-index: -999;
        transform: skewY(-2deg);
        transform-origin: top left;

        @media screen and (max-width: $breakpoint_tablet) {
            height: 500px;
        }
    }
}
