@import 'common/colors';
@import 'common/typography';
@import 'common/content';
@import 'common/css-functions';
@import 'common/breakpoints';
@import 'common/paddings';

.recent-recipes,
.recent-collections,
.popular-recipes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    > ul {
        width: 100%;
        display: grid;
        grid-gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.popular-recipes {
    > ul {
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    }
}

.recent-recipes {
    > ul {
        grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    }
}

.recent-collections {
    > ul {
        grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
    }
}

.recent-collections,
.recent-recipes {
    > ul {
        max-width: 80%;

        @media screen and (max-width: $breakpoint_content-standard) {
            max-width: none;
        }
    }

    > .button {
        margin: 0 0 0 40px;
    }

    @media screen and (max-width: $breakpoint_content-standard) {
        flex-direction: column;
        align-items: flex-start;

        > .button {
            margin: 40px auto 0 auto;
        }
    }
}

.view {
    @include content-standard;

    padding: 50px 0;
}

@media screen and (max-width: $breakpoint_tablet) {
    .popular-recipes,
    .recent-recipes {
        > ul {
            grid-template-columns: 1fr;
        }
    }
}
