@import '@/common/typography';
@import '@/common/content';
@import '@/common/frame';

.clickable-card {
    display: block;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: var(--color-accent);
    }

    &.small {
        @include clickable-offset-frame(var(--frame-offset-sm));
    }

    &.medium {
        @include clickable-offset-frame(var(--frame-offset-md));
    }

    &.large {
        @include clickable-offset-frame(var(--frame-offset-lg));
    }
}
