@import '@/common/colors.scss';
@import '@/common/typography.scss';
@import '@/common/content.scss';

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.editable-text {
    position: relative;
    width: 100%;

    .edit-wrapper {
        line-height: 0;
        margin: 0;

        .text-area {
            resize: none;
            overflow: hidden;
            width: 100%;
            padding: 10px 10px;
            outline: none;
            border: 1px solid $yum_orange;
            letter-spacing: inherit;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;

            &.invalid {
                border: 1px solid #ff6961;
            }
        }
    }

    .errors {
        width: 100%;
        background-color: #ff6961;
        color: white;
        padding: 0 20px 0 40px;
        margin: 0;
        animation: fadeIn 0.5s forwards;

        .error {
            padding: 10px 0;
        }
    }
}
