@import '@/common/typography';
@import '@/common/content';
@import '@/common/breakpoints';
@import '@/common/paddings';

.header {
    z-index: 999;
    padding: var(--space-3) $padding_page;
    background-color: var(--color-profile-tint);
    position: relative;

    @media screen and (max-width: $breakpoint_tablet) {
        display: none;
    }

    .content {
        @include content-standard;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .controls {
            display: flex;
            align-items: center;
            gap: var(--space-4);
        }

        .logo {
            font-family: var(--font-display);
            letter-spacing: -1px;
            font-size: var(--text-2xl);
            font-style: italic;
            font-weight: 600;
            bottom: 4px;
            position: relative;
            color: var(--color-accent);
        }

        .left {
            display: flex;
            align-items: center;

            * + * {
                margin-left: var(--space-8);
            }

            nav {
                font-family: var(--font-body);

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
