@import 'common/colors';
@import 'common/typography';
@import 'common/content';
@import 'common/breakpoints';
@import 'common/paddings';

.header {
    z-index: 999;
    padding: 10px $padding_page;
    background-color: lighten($yum_beige, 10%);
    position: relative;

    @media screen and (max-width: $breakpoint_tablet) {
        display: none;
    }

    .content {
        @include content-standard;

        display: flex;
        align-items: center;
        justify-content: space-between;

	    .logo {
		    font-family: "Playfair Display", serif;
		    letter-spacing: -1px;
		    font-size: 30px;
		    font-style: italic;
		    font-weight: bold;
		    bottom: 4px;
		    position: relative;
		    color: $yum_orange;
	    }

        .left,
        .right {
            display: flex;
            align-items: center;

            ul {
                list-style: none;
                padding: 0;
            }
        }

        .left {
            * + * {
                margin-left: 35px;
            }

            nav {
                font-family: $font_body;

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }
        }

        .right {
            * + * {
                margin-left: 25px;
            }

            svg {
                fill: white;
            }

            .profile {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}
