@import 'common/colors';
@import 'common/typography';
@import 'common/content';
@import 'common/breakpoints';
@import 'common/paddings';

.header {
    z-index: 999;
    padding: 10px $padding_page;
    background-color: lighten($yum_beige, 10%);
    position: relative;

    @media screen and (max-width: $breakpoint_tablet) {
        display: none;
    }

    .content {
        @include content-standard;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-family: "Playfair Display", serif;
            letter-spacing: -1px;
            font-size: 30px;
            font-style: italic;
            font-weight: bold;
            bottom: 4px;
            position: relative;
            color: $yum_orange;
        }

        .left {
            display: flex;
            align-items: center;

            * + * {
                margin-left: 35px;
            }

            nav {
                font-family: $font_body;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
