@import 'common/colors';
@import 'common/typography';
@import 'common/content';
@import 'common/breakpoints';
@import 'common/paddings';

.mobile-navigation {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 999;
    height: 50px;
    width: 100%;
    background-color: $yum_black;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint_tablet) {
        display: flex;
    }

    .center {
        transform: translateY(-20%);

        .add {
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            color: $font_primary;
            background-color: $yum_orange;
            padding: 8px 15px;
            letter-spacing: 2px;
            font-size: 12px;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            cursor: pointer;
            border: 4px solid $yum_black;

            svg {
                height: 37px;
                width: 37px;
            }
        }
    }

    .left,
    .right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 50%;
    }

    .right {
        .profile {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
