@import '@/common/colors.scss';
@import '@/common/paddings.scss';
@import '@/common/content.scss';

.not-found {
    @include content-standard;

    padding: 0 $padding_page;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
