@import '@/common/colors.scss';
@import '@/common/typography.scss';

.standard-link-btn {
    border: none;
    outline: none;
    color: $font_primary;
    background-color: $yum_orange;
    padding: 8px 15px;
    letter-spacing: 2px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.1s ease-out;

    &:hover {
        background-color: lighten($yum_orange, 10%);
    }
}
