@import '@/common/colors.scss';
@import '@/common/typography.scss';
@import '@/common/content.scss';

.static-card {
    display: block;
    position: relative;
    background-color: white;
    border: 1px solid $yum_orange;
    animation: fadeSlideIn 0.5s forwards;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 10px;
        left: 10px;
        border: 1px solid $yum_orange;
    }

    &.small {
        &::after {
            top: 5px;
            left: 5px;
        }
    }

    &.medium {
        &::after {
            top: 10px;
            left: 10px;
        }
    }

    &.large {
        &::after {
            top: 15px;
            left: 15px;
        }
    }

    &.white {
        border: 2px solid white;

        &::after {
            border: 2px solid white;
        }
    }

    &.black {
        border: 2px solid black;

        &::after {
            border: 2px solid black;
        }
    }

    &.orange {
        border: 2px solid $yum_orange;

        &::after {
            border: 2px solid $yum_orange;
        }
    }
}

@keyframes fadeSlideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
