@import 'common/colors';
@import 'common/typography';
@import 'common/content';

.static-card {
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: $yum_orange;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 10px;
        left: 10px;
        border: 1px solid $yum_orange;
    }

    .wrapper {
        border: 1px solid $yum_orange;
        transition: transform 0.1s ease-out;
    }

    &:hover {
        .wrapper {
            transform: translate(10px, 10px);
        }
    }
}
