@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import '@/common/breakpoints.scss';

$font_header: 'Playfair Display', serif;
$font_body: 'Open Sans', sans-serif;

h1,
h2,
h3,
h4 {
    font-family: $font_header;
    letter-spacing: 2px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
}

h4 {
    font-size: 18px;
    margin: 5px 0;
}

p,
span {
    letter-spacing: 1px;
    font-family: $font_body;
    font-size: 14px;
    margin: 6px 0;
}

a {
    font-family: $font_body;
}

button {
    font-family: $font_body;
    font-weight: bold;
}

@media screen and (max-width: $breakpoint_tablet) {
    h1 {
        font-size: 20px;
    }

    h2,
    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    span {
        font-size: 12px;
    }
}
